<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.edell.test2.Bluetooth"
            android:label="@string/title_activity_bluetooth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.edell.test2.ColorPicker"
            android:label="@string/title_activity_color_picker"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>